In [14]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re

In [3]:
response = requests.get('https://casas.mitula.cl/searchRE/nivel2-Santiago/nivel1-Metropolitana/q-Santiago')
soup = BeautifulSoup(response.text,'html.parser')
df=pd.DataFrame(columns={'ubicacion','precio','tipo_operacion', 'tipo_propiedad', 'metros', 'dorm', 'baños', 'region'})

In [4]:
descrip=[]
for container in soup.find_all(class_='adDescription'):
    a = container.find('h5').findAll('span')
    descrip.append(a)

In [5]:
precio=[]
for container in soup.find_all(class_='adPrice'):
    a = container.text
    precio.append(a)

In [6]:
descr_largo=[]
for container in soup.find_all(class_='adTeaser ellipsis'):
    a = container.text
    descr_largo.append(a)

In [7]:
# df=pd.DataFrame(columns={'ubicacion','precio','tipo_operacion', 'tipo_propiedad', 'metros', 'dorm', 'baños', 'region'})
df = pd.DataFrame(data=descrip, index=None, columns=['ubicacion','tipo_operacion', 'tipo_propiedad', 'metros', 'dorm', 'baños'])

In [11]:
df.dtypes

ubicacion         object
tipo_operacion    object
tipo_propiedad    object
metros            object
dorm              object
baños             object
dtype: object

In [9]:
df.describe()

,ubicacion,tipo_operacion,tipo_propiedad,metros,dorm,baños
count,30,30,30,30,30,28
unique,6,1,3,24,5,4
top,"[[Santiago], , Metropolitana]",[Venta],[Departamento],[37 m²],[1 dormitorio],[1 baño]
freq,19,30,21,3,14,15

In [12]:
df.head()

,ubicacion,tipo_operacion,tipo_propiedad,metros,dorm,baños
0,"[[Santiago], , Metropolitana]",[Venta],[Casa],[270 m²],[4 dormitorios],[3 baños]
1,"[Ñuñoa, , [Santiago]]",[Venta],[Departamento],[74 m²],[3 dormitorios],[2 baños]
2,"[[Santiago], , Metropolitana]",[Venta],[Departamento],[32 m²],[1 dormitorio],[1 baño]
3,"[[Santiago], , Metropolitana]",[Venta],[Oficina],[33 m²],[1 baño],None
4,"[[Santiago], , Metropolitana]",[Venta],[Departamento],[98 m²],[2 dormitorios],[2 baños]

In [35]:
original_string = "[[Santiago], , Metropolitana]"

def sacar_weas(columna):

    
    pattern = "[,]"
    new_string = re.sub(pattern, "", original_string)
    pattern = "[[]"
    new_string = re.sub(pattern, "", new_string)
    pattern = "[]]"
    new_string = re.sub(pattern, "", new_string)

    return new_string

In [36]:
df.loc[True,'ubicacion']=sacar_weas(df['ubicacion'])

KeyError: 'cannot use a single bool to index into setitem'